<% provide(:title, 'All Users') %>
<h1>拠点一覧</h1>
<div class="col-md-10 col-md-offset-1">
  <table class="table table-bordered table-striped table-condensed table-hover" id="table-base-points">
    <thead>
      <th></th>
      <th></th>
      <th>拠点番号</th>
      <th>拠点名</th>
      <th>拠点種類</th>
    </thead>
    <tbody>
      <% @base_points.each do |base_point| %>
        <tr>
          <td><%= link_to "修正", edit_base_point_path(base_point), class: "btn btn-primary"%></td>
          <td>
          <%= link_to "削除", base_point, method: :delete,
            data: { confirm: "削除してよろしいですか？" },
            class: "btn btn-primary" %>
          </td>
          <td><%= base_point.point_number %></td>
          <td><%= base_point.point_name %></td>
          <td><%= base_point.point_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '拠点情報追加', new_base_point_path , class: 'btn btn-primary' %>

</div>