<% provide(:title, @user.name) %>
<div>
  <table class='table table-bordered table-condensed user-table' id='table-attendances'>
    <tr>
      <td>
        <%= link_to '←', user_path(date: @first_day.prev_month), class: 'btn btn-default' %>
        <%= l(@first_day, format: :middle) %>　時間管理表
        <%= link_to '→', user_path(date: @first_day.next_month), class: 'btn btn-default' %>
      </td>
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <td colspan='3'><%= format_basic_info(@user.basic_time) %>　基本時間</td>
      <td>初日　<%= l(@first_day, format: :default) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : '未所属' %></td>
      <td>氏名：<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め　<%= l(@last_day, format: :default) %></td>
    </tr>
  </table>
</div>
<div>
  <%= link_to '1ヶ月の勤怠編集へ', attendances_edit_one_month_user_path(date: @first_day), class: 'btn btn-success btn-users-show' %>
</div>
<div>
  <table class='table table-bordered table-striped table-condensed table-hover' id='table-attendances'>
    <thead>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <th rowspan='2'>日付</th>
        <th rowspan='2'>曜日</th>
        <th colspan='3'>出社</th>
        <th colspan='3'>退社</th>
        <th rowspan='2'>在社時間</th>
        <th rowspan='2'>備考</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% work_day_count = 0 %>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td><%= week_color(day.worked_on.wday) %></td>
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= quarter_times(day.started_at) if day.started_at.present? %></td>
          <!--出勤退勤ボタン-->
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to btn_text, user_attendance_path(@user, day), method: :patch, class: 'btn btn-default btn-attendance' %>
            <% end %>
          </td>
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= quarter_times(day.finished_at) if day.finished_at.present? %></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_quarter_times(day.started_at, day.finished_at) %>
              <% work_day_count += 1 %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>            
          </td>
          <td><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan='2'>総合勤務時間</td>
        <td colspan='6' rowspan='2'></td>
        <td colspan='1'>累計在社時間</td>
        <td colspan='1' rowspan='2'></td>
      </tr>
      <tr>
        <td colspan='2'><%= format_basic_info(@user.basic_time).to_f  * work_day_count %></td>
        <td colspan='1'><%= format('%.2f', @total_working_times.to_f) %></td>
      </tr>
    </tfoot>  
  </table>
</div>